body {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#longTexts {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#touches {
  position: fixed;
  top: 20px;
  left: 450px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 30px;
}

#touches a {
  text-decoration: none;
  color: aliceblue;
  max-width: fit-content;
  padding: 6px;
  border-radius: 4px;
  margin: 2px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

a:active {
  background-color: black;
  color: white;
  max-width: 60px;
}

.ac {
  color: white;
  background-color: rgb(9, 92, 68);
  font-size: 25px;
}
