body{
    background-color: rgb(9, 48, 48);
}


main {
    display: flex;
    width: 400px;
    margin: 0 auto;
}

nav {
    position: relative;
}

nav ul {
    width: 6rem;
    list-style-type: none;
}

nav ul li {
    padding: .5rem;
}

nav ul a {
    padding: .5rem;
    text-decoration: none;
}

/* nav.sticky {
    position: sticky;
    top: 0;
} */

nav a.active {
    background-color: rgb(134, 178, 32);
    color: white;
}